<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <pre>
      <% for(var i  in fields){%>
         <%=fields[i]%>
      <% ;} %>   
    </pre>
  </body>
</html>
